<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataBase" value=""/>
    <add key="Catalog" value=""/>
    <add key="DBUser" value=""/>
    <add key="DBPassword" value=""/>
    <add key="Provider" value="Oracle.DataAccess.Client"/>
    <add key="ConnStrPostfix" value=""/>

    <add key="LogSQL" value="true" />
    <add key="LogDebug" value="true" />
    <add key="LogFile" value="c:\temp\log\Dictionary_{0:yyyyMMdd}.log"/>
  </appSettings>
</configuration>